# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Compiled class files
**/*.class
**/.gradle/
# Ignore IDE settings
.project
.classpath
.vscode/

# Ignore compiled files
*.class
*.jar

# Ignore build and bin directories
/build/
/bin/
# gradle/wrapper/gradle-wrapper.properties
# gradle/wrapper/gradle-wrapper.properties
